<section class="thirteen columns">
    <h1>工作经历</h1>
    <article>
        <header>
            <h1>上海陆鹰实业有限公司</h1>
            <span><address>河南 郑州</address><time>2014年 至今</time></span>
        </header>
        <p>初期从事java开发与BI数据分析，于2015年初由于工作需要与个人兴趣转入前端开发。现在公司担任前端开发组长，负责项目前端技术选型和人员招聘、培训等工作。 </p>
    </article>
    <article>
        <header>
            <h1>杭州盈岛科技有限公司</h1>
            <span><address>浙江 杭州</address><time>2013年~2014年</time></span>
        </header>
        <p>主要从事java开发，数据库表设计与性能优化。</p>
    </article>
    <article>
        <header>
            <h1>北京奥普杰特科技有限公司</h1>
            <span><address>北京</address><time>2011~2013</time></span>
        </header>
        <p>主要从事java程序编写，页面js效果和数据填充工作。</p>
    </article>
</section>
