<section class="thirteen columns">
    <h1>项目经历</h1>
    <article>
        <header>
            <h1>河南邮储微信公众号</h1>
            <span><time>2016.6~至今</time></span>
        </header>
        <p>
            河南邮储微信公众号是我公司为河南邮政储蓄银行所做的微信公众号管理系统。该系统可方便发起H5营销活动，管理素材模板，菜单管理。并提供了邮储账户询、信用卡管理等业务。
            在该项目中负责前端技术选型，框架结构搭建，页面性能调优等工作。
        </p>
    </article>
    <article>
        <header>
            <h1>中移在线微商城项目</h1>
            <span><time>2015.8~2016.6</time></span>
        </header>
        <p>
            中移在线微商城是中移在线服务公司的一个手机端电商平台，主要销售手机、配件等产品。
            在该项目中负责其中购物车、用户中心、商品列表和详情页的前端js数据填充，和后端同事进行接口联调等工作。
        </p>
    </article>
    <article>
        <header>
            <h1>中移在线众包项目</h1>
            <span><time>2015.4~2016.6</time></span>
        </header>
        <p>
            中移在线众包项目是采用众包思想，将移动客服业务分发给社会人员，以降低运营成本的一个系统。
            在该项目中负责前端页面切图，js效果编写，和后端同事进行接口联调等工作。
        </p>
    </article>
    <article>
        <header>
            <h1>中国移动在线舆情分析系统</h1>
            <span><time>2014.10~2015.3</time></span>
        </header>
        <p>
            该系统主要是给中国移动的微博、微信公众号等官方媒体的粉丝留言、反馈进行大数据分析，以得出有用信息。
            在该系统中，主要运用BI分析工具kettle，结合java和Oracle数据库，进行数据的导入导出和分析工作。通过分词，统计词频，形成报表，交付给客户。
        </p>
    </article>
    <article>
        <header>
            <h1>自动售货机售卖系统</h1>
            <span><time>2013.11~2014.9</time></span>
        </header>
        <p>
            该系统为杭州盈岛科技有限公司自行研发的，和自动售货机相结合，可记录售货机的产品售卖情况，并可自动生成报表，绘制热点地图，给商家提供数据参考。
            在该系统中主要负责数据库（PostgreSQL）表结构的设计，SQL编写和调优，java接口的编写，配合前端同事进行联调等。
        </p>
    </article>
    <article>
        <header>
            <h1>某市人口信息统计系统</h1>
            <span><time>2012.10~2013.10</time></span>
        </header>
        <p>
            该系统是安徽某市对下属县区各类人口进行统计汇总的一个政务系统，可对人口进行分类，并由此对某些地区的治安状况进行预警。
            在该系统中主要负责java代码的编写和前端页面js的编写，bug修改等。
        </p>
    </article>
</section>